.App {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    padding: 40px
}

.signup-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* padding: 100px 25px; */
    gap: 50px;
}

.signup-form .signup-header {
    flex: 50%;
}

.logo {
    width: 200px;
    height: 200px;
}

.webName {
    color: black;
    font-family: Lexend Giga;
    font-size: 60px;
    font-weight: 700;
}

.description {
    /* width: 704px; */
    /* justify-content: space-between; */
    align-items: center;
    margin:  50px 25px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 25px;
}

.signup-header {
    color: #000;
    font-size: 40px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

label {
    text-align: left;
    padding: 8px 0;
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

input {
    width: 250px;
    height: 35px;
    margin: 8px 0;
    border-radius: 10px;
    background: #F8F8F8;
}

input::placeholder {
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    opacity: 0.5;
}

.switch-page {
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.container {
    margin-top: 2rem;
  }
  
  .row {
    justify-content: space-between;
  }