.App {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 40px
}

.signup-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* padding: 100px 25px; */
    gap: 50px;
}

.signup-form .signup-header {
    flex: 50%;
}

.logo {
    width: 200px;
    height: 200px;
}

.webName {
    color: black;
    font-family: Lexend Giga;
    font-size: 60px;
    font-weight: 700;
}

.description {
    /* width: 704px; */
    /* justify-content: space-between; */
    align-items: center;
    margin:  50px 25px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 100px 25px;
}

.signup-header {
    color: #000;
    font-size: 40px;
    font-weight: 400;
    align-items: center;
    text-align: center;
}

label {
    text-align: left;
    padding: 8px 0;
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

input {
    width: 250px;
    height: 35px;
    margin: 8px 0;
    border-radius: 10px;
    background: #F8F8F8;
}

input::placeholder {
    color: #000;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    opacity: 0.5;
}

.switch-page {
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.container {
    margin-top: 2rem;
}
  
.row {
    justify-content: space-between;
}

.profile-container {
  /* Define styles for the profile container */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .profile-picture {
    /* Define styles for the profile picture */
    max-width: 100px;
    border-radius: 50%;
  }

  h2 {
    /* Define styles for the username */
    margin: 10px 0;
  }

  p {
    /* Define styles for the major and cohort */
    margin: 5px 0;
  }
}

.profile-actions {
  /* Define styles for the profile actions */
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;

  button {
    /* Define styles for the action buttons */
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}

/* Define styles for the modals */
.modal {
    display:contents;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(0, 0);
  background-color: navy;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  p {
    margin-bottom: 10px;
  };


    &:hover {
      background-color: #0056b3;
    }
  }


th thead .thead-dark {
    background-color: #000 !important
}
