#root {
    height: 100vh;
    width: 100vw;
}

@import "../../node_modules/bootstrap/scss/functions"; 
@import "../../node_modules/bootstrap/scss/variables";

@import './overrides.scss';
html, body, .row, .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./app_variables.scss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lexend+Giga:wght@700&display=swap');

